{% assign codes = ',USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,' %}
{% assign supported_codes = section.settings.supported_currencies | split: ' ' %}

<div class="currency_selector">
	<div class="currency_selector__wrap" title="{{ 'layout.header.currency' | t }}">
		<div id="currency_active">{{ shop.currency }}</div>

		<ul id="currency_selector">
			<li data-value="{{ shop.currency }}" id="currency_selected" class="currency_selector__item">{{ shop.currency }}</li>

			{% for code in supported_codes %}
				{% if code != shop.currency and codes contains code %}
					<li data-value="{{ code }}" class="currency_selector__item">{{ code }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>