<!doctype html>
<html lang="{{ shop.locale }}" class="color_scheme" {% if settings.rtl %}dir="rtl"{% endif %}>
	<head>
		<meta charset="utf-8">

		{% capture seo_title %}
			{{ page_title }}

			{% unless page_title contains shop.name %}
				&ndash; {{ shop.name }}
			{% endunless %}
		{% endcapture %}

		<title>{{ seo_title }}</title>

		<link rel="canonical" href="{{ canonical_url }}">

		{%- if settings.favicon.size > 0 -%}
			<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
		{%- endif -%}

		{%- if page_description -%}
			<meta name="description" content="{{ page_description | escape }}">
		{%- endif -%}

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!--[if IE]>
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		
		<!-- CSS -->
		{% include 'variables' %}
		{{ 'style.scss.css' | asset_url | stylesheet_tag }}
		{{ 'responsive.scss.css' | asset_url | stylesheet_tag }}
		{% if settings.rtl %}
			{{ 'rtl.scss.css' | asset_url | stylesheet_tag }}
		{% endif %}
		
		<!-- JS -->
		<script>
			var theme = {
				moneyFormat: {{ shop.money_format | json }},
			};
		</script>
		<script src="{{ 'assets.js' | asset_url }}"></script>
		<script src="{{ 'lazysizes.min.js' | asset_url }}" defer></script>
		<script src="{{ 'shop.js' | asset_url }}" defer></script>

		{%- if content_for_index contains 'index_section_slideshow__slide_video' -%}
			<script src="{{ 'YTPlayer.min.js' | asset_url }}" defer></script>			
		{%- endif -%}
					

		
		{%- if template contains 'customers' -%}
			<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
			<script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
		{%- endif -%}
		
		{%- unless template == 'password' or template == 'page.password' -%}
			{{ 'header-script.js' | asset_url | script_tag }}
		{%- endunless -%}

		<!-- SHOPIFY SERVICE SCRIPTS -->
		{{ content_for_header }}
	</head>

	<body class="template-{{ template | split: '.' | first }} {{ settings.color_scheme }} {% if settings.rtl %}rtl{% endif %}">
		<div class="page_wrapper">

			<div id="page_preloader__bg">
				<img id="page_preloader__img" src="{{ 'shopify_logo.gif' | asset_url }}" alt="">
			</div>

			<script>
				preloaderBg = document.getElementById('page_preloader__bg');
				preloaderImg = document.getElementById('page_preloader__img');

				window.addEventListener('load', function() {
					preloaderBg.classList.add("off");
					preloaderImg.classList.add("off");
				});

			</script>

			{% if template == 'page.sections'%}
				{% section 'sect_all' %}
			{% endif %}

			{% if template == 'password' or template == 'page.password' %}
				{{ content_for_layout }}
			{% else %}
				{% section 'helper' %}
				
				{% section 'header-2' %}

				<div class="page_container">
					{% unless template == 'index' or template == '404' %}
						{% if settings.breadcrumbs_toggle %}
							{% include 'snippet-breadcrumbs' %}
						{% endif %}
					{% endunless %}
					
					
					{%- assign sidebar_on = false -%}
					{% case template %}
						{% when 'article', 'collection', 'search', 'page.wishlist', 'collection.right-sidebar', 'collection.loadmore' %}
							{% if settings.sidebar_toggle %}
								{%- assign sidebar_on = true -%}
							{% endif %}
					{% endcase %}
					
					{% if sidebar_on %}
						<div class="container">
							<div class="row">	
					{% endif %}
							<div class="main_content {% unless settings.full_w_sections %}container_big{% endunless %} {% if sidebar_on %}sidebar_on {% if template == 'article' %}col-md-9{% else %}col-md-9 col-lg-10{% endif %} {% unless template == 'collection.right-sidebar' %}{% if settings.sidebar_position == 'sidebar_left' %}left-sidebar{% endif %}{% endunless %}{% endif %}">
								{{ content_for_layout }} 
							    
							</div>

							{% if sidebar_on %}
								<div class="sidebar_small {% if template == 'article' %}col-md-3{% else %}col-md-3 col-lg-2{% endif %}">
									{% if template == 'blog' or template == 'article' %}
										{% section 'sidebar-blog' %}
									{% else %}
										{% section 'sidebar' %}
									{% endif %}
								</div>
							{% endif %}
					{% if sidebar_on %}
							</div>
						</div>
					{% endif %}
					
					{% unless template == '404' %}
						{% section 'footer-2' %}
					{% endunless %}
				</div>

				<a id="back_top" href="#">
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</a>
			{% endif %}	
		</div>



		{% if settings.newsletter_popup_toggle %}
			{% include 'widget-newsletter-popup' %}
		{% endif %}


	</body>

</html>




