{% assign product_image = true %}
{% if product.images.size == 0 %}
	{% assign product_image = false %}
{% endif %}

{%- assign productJSON = product | json -%}

{%- for var in product.variants -%}
	{%- assign varIDold = '"id":' | append: var.id | append:',' -%}
	{%- assign varQ = '"inventory_quantity":' | append: var.inventory_quantity | append:',' -%}
	{%- assign varIDnew = varIDold | append: varQ -%}

	{%- if productJSONnew.size > 0 -%}
		{%- assign productJSONnew = productJSONnew | replace: varIDold, varIDnew -%}
	{%- else -%}
		{%- assign productJSONnew = productJSON | replace: varIDold, varIDnew -%}
	{%- endif -%}
{%- endfor -%}

<script type="application/json" id="product_json_{{ section.id }}">
	{{ productJSONnew }}
</script>

<script type="application/json" id="variant_weights_{{ section.id }}">
	{% raw %}{{% endraw %}{% for variant in product.variants %}{% if forloop.last %}"{{ variant.id }}":"{{ variant.weight | weight_with_unit: variant.weight_unit }}"{% else %}"{{ variant.id }}":"{{ variant.weight | weight_with_unit: variant.weight_unit }}",{% endif %}{% endfor %}{% raw %}}{% endraw %}
</script>

<script>
	theme.productViewType = '{{ section.settings.product_view_type }}';
	theme.productRelatedView = {{ section.settings.show_related_products }};
</script>

<div itemscope itemtype="http://schema.org/Product" class="product-scope container type_{{ section.settings.product_view_type }}">
	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
	<meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
	<div class="row">
		{% case section.settings.product_view_type %}
			{% when 'carousel'  %}

				<div class="single_product__img col-md-6 col-lg-8">
					{% case product.images.size %}
						{% when 0 %}
							<img src="{{ 'no_image.png' | asset_url }}" alt="">
						{% when 1 %}
							<img src="{{ product.featured_image.src | product_img_url: '470x509', crop: section.settings.image_alignment }}" alt="">

						{% else %}
							<div id="gallery_big-{{ section.id }}" class="gallery_big swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img id="primary_img_{{ section.id }}" src="{{ product.images.first | product_img_url: '780x825', crop: section.settings.image_alignment }}" alt="{{ product.images.first.alt }}">
									</div>

									{% for image in product.images offset:1 %}
										<div class="swiper-slide">
											<img src="{{ image.src | product_img_url: '780x825', crop: section.settings.image_alignment }}" alt="">
										</div>;
									{% endfor %}
								</div>
							</div>

							<div id="gallery_thumbs-{{ section.id }}" class="gallery_thumbs gallery_thumbs__{{ section.settings.image_size }} swiper-container">
								<div class="swiper-wrapper">
									{% for image in product.images %}
										<div class="swiper-slide">
											<img src="{{ image.src | product_img_url: '148x148', crop: section.settings.image_alignment }}" alt="">
										</div>
									{% endfor %}
								</div>
							</div>

							<div id="prev_{{ section.id }}" class="swiper_btn swiper_btn__prev"></div>
							<div id="next_{{ section.id }}" class="swiper_btn swiper_btn__next"></div>
					{% endcase %}

				</div>

			{% when 'sticky'  %}
				<div class="single_product__img col-md-6 col-lg-8">
					<div class="product__img_wrap">
						{% case product.images.size %}
							{% when 0 %}
								<img src="{{ 'no_image.png' | asset_url }}" alt="">
							{% when 1 %}
								<img class="lazyload" src="{{ product.featured_image.src | product_img_url: '150x225', crop: section.settings.image_alignment }}" data-src="{{ product.featured_image.src | img_url: '580x870', crop: section.settings.image_alignment }}" alt="{{ product.featured_image.alt }}">

							{% else %}
								{% for image in product.images %}
									<img class="lazyload" src="{{ image.src | product_img_url: '150x225', crop: section.settings.image_alignment }}" data-src="{{ image.src | img_url: '580x870', crop: section.settings.image_alignment }}" alt="{{ image.alt }}">
								{% endfor %}
						{% endcase %}
					</div>	
				</div>

			{% when 'tile'  %}
				<div class="single_product__img col-md-6 col-lg-8">
					<div class="product__img_wrap">
						{% case product.images.size %}
							{% when 0 %}
								<div class="product__img_item">
									<img src="{{ 'no_image.png' | asset_url }}" alt="">
								</div>
							{% when 1 %}
								<div class="product__img_item">
									<img class="lazyload" src="{{ product.featured_image.src | product_img_url: '100x150', crop: section.settings.image_alignment }}" data-src="{{ product.featured_image.src | img_url: '365x547', crop: section.settings.image_alignment }}" alt="{{ product.featured_image.alt }}">
									<span class="product__img_zoom" data-zoom_image="{{ product.featured_image.src | img_url: '640x', crop: section.settings.image_alignment }}">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 6H10V8H12V10H10V12H8V10H6V8H8V6Z" fill="white"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M20 18.5787L16.2437 14.8223C17.4619 13.2995 18.2741 11.269 18.2741 9.13706C18.2741 4.06091 14.2132 0 9.13706 0C4.06091 0 0 4.06091 0 9.13706C0 14.2132 4.06091 18.2741 9.13706 18.2741C11.269 18.2741 13.2995 17.5635 14.8223 16.2437L18.5787 20L20 18.5787ZM2.03046 9.13706C2.03046 5.17766 5.17766 2.03046 9.13706 2.03046C13.0964 2.03046 16.2437 5.17766 16.2437 9.13706C16.2437 13.0964 13.0964 16.2437 9.13706 16.2437C5.17766 16.2437 2.03046 13.0964 2.03046 9.13706Z" fill="white"/>
										</svg>
									</span>
								</div>

							{% else %}
								{% for image in product.images %}
									<div class="product__img_item">
										<img class="lazyload" src="{{ image.src | product_img_url: '100x150', crop: section.settings.image_alignment }}" data-src="{{ image.src | img_url: '365x547', crop: section.settings.image_alignment }}" alt="{{ image.alt }}">
										<span class="product__img_zoom" data-zoom_image="{{ image.src | img_url: '640x', crop: section.settings.image_alignment }}">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 6H10V8H12V10H10V12H8V10H6V8H8V6Z" fill="white"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M20 18.5787L16.2437 14.8223C17.4619 13.2995 18.2741 11.269 18.2741 9.13706C18.2741 4.06091 14.2132 0 9.13706 0C4.06091 0 0 4.06091 0 9.13706C0 14.2132 4.06091 18.2741 9.13706 18.2741C11.269 18.2741 13.2995 17.5635 14.8223 16.2437L18.5787 20L20 18.5787ZM2.03046 9.13706C2.03046 5.17766 5.17766 2.03046 9.13706 2.03046C13.0964 2.03046 16.2437 5.17766 16.2437 9.13706C16.2437 13.0964 13.0964 16.2437 9.13706 16.2437C5.17766 16.2437 2.03046 13.0964 2.03046 9.13706Z" fill="white"/>
											</svg>
										</span>
									</div>
								{% endfor %}
						{% endcase %}
					</div>	
				</div>

			{% when 'carousel_big'  %}
				{%- assign imagesNum = product.images.size -%}
				{%- assign imagesCount = product.images.size | plus: 0 -%}

				{%- assign product_info_class = 'col-sm-12' -%}

				<div class="single_product__img col-sm-12">
					{% case product.images.size %}
						{% when 0 %}
							<img src="{{ 'no_image.png' | asset_url }}" alt="">
						{% when 1 %}
							<img src="{{ product.featured_image.src | product_img_url: '370x370', crop: section.settings.image_alignment }}" alt="">

						{% else %}
							
							<div id="gallery_big-{{ section.id }}" class="gallery_big swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img id="primary_img_{{ section.id }}" src="{{ product.images.first | product_img_url: '370x370', crop: section.settings.image_alignment }}" alt="{{ product.images.first.alt }}">
									</div>

									{% for image in product.images offset:1 %}
										<div class="swiper-slide">
											<img src="{{ image.src | product_img_url: '370x370', crop: section.settings.image_alignment }}" alt="">
										</div>
									{% endfor %}
								</div>
							</div>

							<div id="prev_big_{{ section.id }}" class="swiper_btn swiper_btn__prev"></div>
							<div id="next_big_{{ section.id }}" class="swiper_btn swiper_btn__next"></div>
					{% endcase %}
				</div>

		{% endcase %}


		<div class="single_product__info {% if section.settings.product_view_type == 'carousel_big' %} col-md-9 col-lg-12 {% else %} col-md-6 col-lg-4 {% endif %}">
			<div class="single_product__details">
				<form action="/cart/add" method="post" enctype="multipart/form-data" data-section="{{ section.id }}">
					
					<div class="details_wrapper">
						{% if section.settings.show_sku %}
							<p class="single_product__sku">
								<b>{{ 'layout.product.sku' | t }}:</b>
								<span id="single_product__sku-{{ section.id }}"></span>
							</p>
						{% endif %}

						<p class="single_product__availability">
							<b>{{ 'layout.product.availability' | t }}:</b>

							<span id="single_product__availability-{{ section.id }}"></span>
						</p>
						
						{% if settings.product_reviews %}
							<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
						{% endif %}

						<h2 itemprop="name" class="single_product__title">{{ product.title }}</h2>

						<p class="single_product__price"><span id="single_product__price-{{ section.id }}"><span class="money money_main">{{ product.price | money }}</span></span></p>
						
						{% if section.settings.show_short_desk %}
							<div class="single_product__short_desk">
								{{ product.description | strip_html | truncate: 180 }}
							</div>
						{% endif %}

						{% if  product.variants.size > 1 %}
							{% if product.options.size > 0 %}
								{% for option in product.options %}
									{% assign downcased_option = option | downcase %}
									{%- assign product_color_option = settings.color_option | downcase -%}
									{%- assign product_size_option = settings.size_option | downcase -%}

									{% if downcased_option contains product_color_option %}
										{% assign option_color_index = forloop.index | minus: 1 %}
									{% endif %}

									{% if downcased_option contains product_size_option %}
										{% assign option_size_index = forloop.index | minus: 1 %}
									{% endif %}
								{% endfor %}
							{% endif %}

							{% if section.settings.show_color %}
								<div class="color_product__options">
									{% if option_color_index %}
										<div class="color_toggle" data-option-index="{{ option_color_index }}"></div>
									{% endif %}
								</div>
							{% endif %}

							{% if section.settings.show_size %}
								<div class="size_product__options">
									{% if option_size_index %}
										<div class="size_toggle" data-option-index="{{ option_size_index }}"></div>
									{% endif %}
								</div>
							{% endif %}
						{% endif %}

						<div class="single_product__options {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}hidden{% endif %}">
							<select name="id" id="product_select_{{ section.id }}">
								{% for variant in product.variants %}
									<option value="{{ variant.id }}">{{ variant.title | escape }}</option>
								{% endfor %}
							</select>
						</div>
						
						{% if section.settings.show_vendor %}
							<p class="single_product__vendor">
								<b>{{ 'layout.product.vendor' | t }}:</b>
								<span>{{ product.vendor }}</span>
							</p>
						{% endif %}
						
						{% if section.settings.show_product_types %}
							<p class="single_product__type">
								<b>{{ 'layout.product.product_type' | t }}:</b>

								<span>
									{% if product.type.size > 0 %}
										{{ product.type }}
									{% else %}
										—
									{% endif %}
								</span>
							</p>
						{% endif %}

						{% if section.settings.show_barcode %}
							<p class="single_product__barcode">
								<b>{{ 'layout.product.barcode' | t }}:</b>
								<span id="single_product__barcode-{{ section.id }}"></span>
							</p>
						{% endif %}

						{% if section.settings.show_weight %}
							<p class="single_product__weight">
								<b>{{ 'layout.product.weight' | t }}:</b>
								<span id="single_product__weight-{{ section.id }}"></span>
							</p>
						{% endif %}

						{% if section.settings.show_tags %}
							<p class="single_product__tags">
								<b>{{ 'layout.product.tags' | t }}:</b>

								{% if product.tags.size > 0 %}
									<span>{{ product.tags | first }}</span>{% for tag in product.tags offset:1 %}, <span>{{ tag }}</span>{% endfor %}
								{% else %}
									—
								{% endif %}
							</p>
						{% endif %}

						{% if section.settings.show_collections %}
							<p class="single_product__collections">
								<b>{{ 'layout.product.collections' | t }}:</b>

								{% if product.collections.size > 0 %}
									<a href="{{ product.collections.first.url }}">{{ product.collections.first.title }}</a>{% for collection in product.collections offset:1 %}, <a href="{{ collection.url }}">{{ collection.title }}</a>{% endfor %}
								{% else %}
									—
								{% endif %}
							</p>
						{% endif %}


						<div class="single_product__quantity">
							<label for="single_product__quantity-{{ section.id }}">{{ 'layout.product.quantity' | t }}: </label>

							<div class="quantity_box">
								<input id="single_product__quantity-{{ section.id }}" class="quantity_input" type="text" name="quantity" value="1">
								<button type="submit" name="add" class="btn" id="single_product__addtocart-{{ section.id }}">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M20 20H0V6H20V20ZM2 18H18V8H2V18Z"/>
										<path d="M14 3.99995H12C12 3.49995 11.8 2.99995 11.4 2.59995C10.7 1.89995 9.3 1.89995 8.6 2.59995C8.2 2.89995 8 3.39995 8 3.99995H6C6 2.89995 6.4 1.89995 7.2 1.19995C8.7 -0.300049 11.3 -0.300049 12.9 1.19995C13.6 1.89995 14 2.89995 14 3.99995Z"/>
									</svg>
									{{ 'layout.product.add_to_cart' | t }}
								</button>
							</div>

							{% if section.settings.show_notify_button %}
								<span class="btn notify_btn" id="notify_trigger_button">{{ 'layout.product.notify_button' | t }}</span>
							{% endif %}
						</div>

					</div>
				</form>

				{% if section.settings.show_notify_button %}
					<div class="product_notify">
						{% form 'contact', class: 'notify_form' %}
						{{ form.errors | default_errors }}

						<p class="form_text">{{ 'layout.product.notify_text' | t }}</p>
						
						<input type="hidden" name="contact[tags]" value="Notify product">
						<label for="product_notify_input" class="hidden">Body</label>
						<input id="product_notify_input" type="hidden" name="contact[product]" value="{{ shop.url }}{{ product.url }}">
						<div class="form_wrapper">
							<input required type="email" name="contact[email]" class="notify__input" placeholder="Enter your email">
							<textarea required name="contact[comment]" class="notify__input" placeholder="Add your comment about the product of interest to you"></textarea>
							<button class="btn" type="submit">{{ 'layout.product.notify_send' | t }}</button>
						</div>
						
					{% endform %}
					</div>
				{% endif %}


				<div class="single_product__wishlist">
					{% if shop.customer_accounts_enabled %}
						{% if customer %}
							{% if settings.wishlist_toggle == true and settings.wishlist_page != '' %}
								{% if customer.metafields.zemez_modules.wishlist contains product.handle %}
									<a class="wishlist_btn" href="{{ pages[settings.zemez_wishlist_page].url }}" data-product="{{ product.handle }}" data-customer="{{ customer.id }}" data-action="remove" onclick="zemezWishlist(this); return false;">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10 18L8.74 16.7826C4.06 12.7826 1 10.087 1 6.78261C1 4.08696 3.16 2 5.95 2C7.48 2 9.01 2.69565 10 3.82609C10.99 2.69565 12.52 2 14.05 2C16.84 2 19 4.08696 19 6.78261C19 10.087 15.94 12.7826 11.26 16.7826L10 18Z" stroke-width="2" stroke-linecap="round"></path>
										</svg>
										<span>{{ 'layout.wishlist.add_to_wishlist' | t }}</span>
										<span class="btn_rem">{{ 'layout.wishlist.remove_from_wishlist' | t }}</span>
									</a>
								{% else %}
									<a class="wishlist_btn" href="{{ pages[settings.zemez_wishlist_page].url }}" data-product="{{ product.handle }}" data-customer="{{ customer.id }}" data-action="add" onclick="zemezWishlist(this); return false;">
										<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10 18L8.74 16.7826C4.06 12.7826 1 10.087 1 6.78261C1 4.08696 3.16 2 5.95 2C7.48 2 9.01 2.69565 10 3.82609C10.99 2.69565 12.52 2 14.05 2C16.84 2 19 4.08696 19 6.78261C19 10.087 15.94 12.7826 11.26 16.7826L10 18Z" stroke-width="2" stroke-linecap="round"></path>
										</svg>
										<span>{{ 'layout.wishlist.add_to_wishlist' | t }}</span>
										<span class="btn_rem">{{ 'layout.wishlist.remove_from_wishlist' | t }}</span>
									</a>
								{% endif %}
							{% endif %}

						{% else %}
							<a href="{{ routes.account_login_url }}" class="wishlist_btn wishlist_login">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 18L8.74 16.7826C4.06 12.7826 1 10.087 1 6.78261C1 4.08696 3.16 2 5.95 2C7.48 2 9.01 2.69565 10 3.82609C10.99 2.69565 12.52 2 14.05 2C16.84 2 19 4.08696 19 6.78261C19 10.087 15.94 12.7826 11.26 16.7826L10 18Z" stroke-width="2" stroke-linecap="round"></path>
								</svg>
								<span>{{ 'layout.wishlist.add_to_wishlist' | t }}</span>
							</a>
						{% endif %}
					{% endif %}
				</div>


				{% if section.settings.show_policy %}
					<div class="single_product__policy">
						{% if section.settings.security_page.size > 0 %}
							<a class="item_policy__link" href="{{ section.settings.security_page }}">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L18 3.1V8.9C18 11.4 17.5 13.5 16.6 15.2C15.3 17.4 13.2 19 10.3 19.9L10 20L9.7 19.9C6.8 19 4.7 17.4 3.4 15.2C2.5 13.5 2 11.4 2 8.9V3.1L10 0ZM5.2 14.2C6.2 16 7.7 17.2 10 17.9C12.3 17.2 13.8 16 14.8 14.2C15.6 12.8 16 11.1 16 8.9V4.5L10 2.2L4 4.5V8.9C4 11.1 4.4 12.8 5.2 14.2Z"/>
								</svg>
								{{ section.settings.security_text }}
							</a>
						{% endif %}
						{% if section.settings.delivery_page.size > 0 %}
							<a class="item_policy__link" href="{{ section.settings.delivery_page }}">
								<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20 9H18L15.4 4H13V0H0V9V11V15H2.2C2.1 15.3 2 15.6 2 16C2 17.7 3.3 19 5 19C6.7 19 8 17.7 8 16C8 15.6 7.9 15.3 7.8 15H12.2C12.1 15.3 12 15.6 12 16C12 17.7 13.3 19 15 19C16.7 19 18 17.7 18 16C18 15.6 17.9 15.3 17.8 15H20V9ZM14.1 6L15.7 9H13V6H14.1ZM2 2H11V4V9H2V2ZM6 16C6 16.6 5.6 17 5 17C4.4 17 4 16.6 4 16C4 15.4 4.4 15 5 15C5.6 15 6 15.4 6 16ZM16 16C16 16.6 15.6 17 15 17C14.4 17 14 16.6 14 16C14 15.4 14.4 15 15 15C15.6 15 16 15.4 16 16ZM18 13H2V11H11H13H18V13Z"/>
								</svg>
								{{ section.settings.delivery_text }}
							</a>
						{% endif %}
						{% if section.settings.return_page.size > 0 %}
							<a class="item_policy__link"  href="{{ section.settings.return_page }}">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M9.46342 19L0 10.3L9.46342 2V6.9C17.8537 7.6 19.9024 16.9 20 17L18.2439 17.7C16.1951 14.2 13.4634 13.7 9.56098 13.6V19H9.46342ZM2.92683 10.4L7.5122 14.6V11.6H8.48781C11.2195 11.6 13.8537 11.7 16 12.9C14.5366 10.9 12.1951 8.9 8.48781 8.9H7.5122V6.3L2.92683 10.4Z" />
								</svg>
								{{ section.settings.return_text }}
							</a>
						{% endif %}
					</div>
				{% endif %}

				{% if section.settings.show_desc and section.settings.product_view_type == 'sticky' or section.settings.product_view_type == 'tile' %}
					{% if section.blocks.size > 0 %}
						<div class="sticky_content_wrapper">
							<div class="tab_content">
								<div class="sticky_block">
									<div class="rte">
										<h4 class="wrap_triger">Description</h4>
										<div class="wrap_content wrap_descr">{{ product.content }}</div>
									</div>
								</div>

								
								
								{% for block in section.blocks %}
									<div class="sticky_block">
										{% case block.type %}
											{% when 'all_tab'  %}
												<div class="rte">
													<h4 class="wrap_triger">{{ block.settings.title }}</h4>
													<div class="wrap_content">{{ pages[block.settings.page].content }}</div>
												</div>
				
											{% when 'product_tab' %}
												{% if block.settings.custom_product == product.handle %}
													<div class="rte">
														<h4 class="wrap_triger">{{ block.settings.title }}</h4>
														<div class="wrap_content">{{ pages[block.settings.page].content }}</div>
													</div>
												{% endif %}
												
											{% when 'collection_tab'  %}
												{% if product.collections.size > 0 %}
													{% for collection in product.collections %}
														{% if collection.title contains collections[block.settings.custom_collection].title %}
															<div class="rte">
																<h4 class="wrap_triger">{{ block.settings.title }}</h4>
																<div class="wrap_content">{{ pages[block.settings.page].content }}</div>
															</div>
														{% endif %}
													{% endfor %}
												{% endif %}

											{% when 'reviews'  %}
												<h4 class="wrap_triger">{{ block.settings.title }}</h4>
												<div class="wrap_content">
													<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
												</div>

										{% endcase %}
									</div>
								{% endfor %}
							</div>
						</div>

						<div class="sticky_block sticky_social">
							<div class="rte">
									{%- assign product_image = product.featured_image -%}
									{%- include 'widget-social-sharing', share_title: product.title, share_link: product.url, share_image: product_image -%}
							</div>
						</div>
			
					{% else %}	
						<div class="product_description rte">
							<h2 class="wrap_triger open">Description</h2>
							<div class="wrap_content">{{ product.description }}</div>
						</div>
			
					{% endif %}
				{% endif %}
			</div>

		</div>
	</div>

{% if section.settings.product_view_type == 'carousel' or section.settings.product_view_type == 'carousel_big' %}
	{% if section.settings.show_desc %}
		{% if section.blocks.size > 0 %}
			<div class="tab_content_wrapper">
				<div class="tab_navigation">
					<span class="tab_nav tab_nav_1 active" data-tab="0">Description</span>
					{%- assign block_counter = 1 -%}

					{% for block in section.blocks %}
						{% case block.type %}
							{% when 'all_tab'  %}
								{%- assign block_counter = block_counter | plus: 1 -%}
								<span class="tab_nav tab_nav_{{ block_counter }}" data-tab="{{ block_counter | minus: 1 }}">{{ block.settings.title }}</span>
							{% when 'reviews'  %}
								{%- assign block_counter = block_counter | plus: 1 -%}
								<span class="tab_nav tab_nav_{{ block_counter }}" data-tab="{{ block_counter | minus: 1 }}">{{ block.settings.title }}</span>

							{% when 'product_tab' %}
								{% if block.settings.custom_product == product.handle %}
									{%- assign block_counter = block_counter | plus: 1 -%}

									<span class="tab_nav tab_nav_{{ block_counter }}" data-tab="{{ block_counter | minus: 1 }}">{{ block.settings.title }}</span>
								{% endif %}
								
							{% when 'collection_tab'  %}
								{% if product.collections.size > 0 %}
									{% for collection in product.collections %}
										{% if collection.title contains collections[block.settings.custom_collection].title %}
											{%- assign block_counter = block_counter | plus: 1 -%}

											<span class="tab_nav tab_nav_{{ block_counter }}" data-tab="{{ block_counter | minus: 1 }}">{{ block.settings.title }}</span>
										{% endif %}
									{% endfor %}
								{% endif %}
						{% endcase %}
						
					{% endfor %}
				</div>

				<div class="tab_content">
					<div class="tab_item tab_item_1 active">
						<div itemprop="description" class="product_description rte">
							<div>{{ product.description }}</div>
						</div>
					</div>
					{%- assign block_counter = 1 -%}

					{% for block in section.blocks %}
						{% case block.type %}
							{% when 'all_tab'  %}
								{%- assign block_counter = block_counter | plus: 1 -%}
								<div class="rte tab_item tab_item_{{ block_counter }}">{{ pages[block.settings.page].content }}</div>

							{% when 'reviews'  %}
								<div class="rte tab_item tab_item_{{ block_counter }}" id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

							{% when 'product_tab' %}
								{% if block.settings.custom_product == product.handle %}
									{%- assign block_counter = block_counter | plus: 1 -%}

									<div class="rte tab_item tab_item_{{ block_counter }}">{{ pages[block.settings.page].content }}</div>
								{% endif %}
								
							{% when 'collection_tab'  %}
								{% if product.collections.size > 0 %}
									{% for collection in product.collections %}
										{% if collection.title contains collections[block.settings.custom_collection].title %}
											{%- assign block_counter = block_counter | plus: 1 -%}

											<div class="rte tab_item tab_item_{{ block_counter }}">{{ pages[block.settings.page].content }}</div>
										{% endif %}
									{% endfor %}
								{% endif %}

						{% endcase %}
					{% endfor %}
				</div>
			</div>

		{% else %}	
			<div itemprop="description" class="product_description rte">
				<div>{{ product.description }}</div>
			</div>

		{% endif %}
	{% endif %}


	{% if section.settings.show_share_buttons %}
		{%- assign product_image = product.featured_image -%}
		{%- include 'widget-social-sharing', share_title: product.title, share_link: product.url, share_image: product_image -%}
	{% endif %}
{% endif %}
</div>

{% if section.settings.show_related_products %}
	{% if collection and collection.products_count > 1 %}
		{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}

		{% assign found_a_collection = false %}
			{% for c in product.collections %}
				{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
					{% assign found_a_collection = true %}
					{% assign collection = c %}
				{% endif %}
			{% endfor %}
		{% endif %}

		<div class="widget_related_products container">
			<h3>{{ section.settings.related_products_title }}</h3>

			<div class="widget_content">
				<div class="row product_listing__main product_listing_related" id="widget_related_slideshow">
					<div class="swiper-wrapper">
						{% assign current_product_title = product.title %}
						{% assign current_product_found = true %}

						{% for prod in collection.products limit:7 %}
							{% if prod.title == current_product_title %}
								{% assign current_product_found = false %} 
							{% endif %}

							{% unless prod.title == current_product_title %}
								{% unless forloop.last and current_product_found %}
									{% assign product = prod %}
									<div class="swiper-slide product product__{% cycle 'counter': '1','2','3','4','5','6' %}">
										{% include 'product-listing-item' img_size: '380x380', img_alignment: section.settings.image_alignment %}
									</div>
								{% endunless %}
							{% endunless %}
						{% endfor %}
					</div>
				</div>
				<div class="widget_related_slideshow_pagination"></div>
			</div>
		</div>
	{% endif %}
{% endif %}

{% schema %}
{
	"name": "Product template",
	"class": "section section_single-product section_product section_template__product",
	"max_blocks": 30,
	"settings": [

		// VIEW ============================================================================================
		{
			"type": "header",
			"content": "Product"
		},
		{
			"type": "select",
			"id": "product_view_type",
			"label": "View type",
			"options": [
				{
					"value": "sticky",
					"label": "Sticky"
				},
				{
					"value": "carousel",
					"label": "Carousel"
				},
				{
					"value": "carousel_big",
					"label": "Big img carousel"
				},
				{
					"value": "tile",
					"label": "Tile"
				}
			]
		},


		// IMAGES ==========================================================================================
		{
			"type": "header",
			"content": "Images"
		},
		{
			"type": "select",
			"id": "image_alignment",
			"label": "Image alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},


		// SETTINGS ========================================================================================
		{
			"type": "header",
			"content": "Settings"
		},
		{
			"type": "checkbox",
			"id": "show_sku",
			"label": "Show SKU"
		},
		{
			"type": "checkbox",
			"id": "show_short_desk",
			"label": "Show Short description"
		},
		{
			"type": "checkbox",
			"id": "show_color",
			"label": "Show color options"
		},
		{
			"type": "checkbox",
			"id": "show_size",
			"label": "Show size options"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "Show vendor"
		},
		{
			"type": "checkbox",
			"id": "show_product_types",
			"label": "Show product types"
		},
		{
			"type": "checkbox",
			"id": "show_barcode",
			"label": "Show barcode"
		},
		{
			"type": "checkbox",
			"id": "show_weight",
			"label": "Show weight"
		},
		{
			"type": "checkbox",
			"id": "show_tags",
			"label": "Show tags"
		},
		{
			"type": "checkbox",
			"id": "show_collections",
			"label": "Show collections"
		},
		{
			"type": "checkbox",
			"id": "show_share_buttons",
			"label": "Show social sharing buttons"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"label": "Show description"
		},
		{
			"type": "checkbox",
			"id": "show_notify_button",
			"label": "Show notify button",
			"info": "Allow to send applications in case the goods are not available." 
		},
		{
			"type": "header",
			"content": "Policy block"
		},
		{
			"type": "checkbox",
			"id": "show_policy",
			"label": "Show Policy"
		},
		{
			"type": "url",
			"id": "security_page",
			"label": "Security policy page"
		},
		{
			"type": "text",
			"id": "security_text",
			"label": "Security policy link text",
			"default": "Security policy"
		},
		{
			"type": "url",
			"id": "delivery_page",
			"label": "Delivery policy page"
		},
		{
			"type": "text",
			"id": "delivery_text",
			"label": "Delivery policy link text",
			"default": "Delivery policy"
		},
		{
			"type": "url",
			"id": "return_page",
			"label": "Return policy page"
		},
		{
			"type": "text",
			"id": "return_text",
			"label": "Return policy link text",
			"default": "Return policy"
		},
		{
			"type": "header",
			"content": "Related products"
		},
		{
			"type": "checkbox",
			"id": "show_related_products",
			"label": "Show Related products"
		},
		{
			"type": "text",
			"id": "related_products_title",
			"label": "Related products title",
			"default": "Related products"
		}
	],
	"blocks": [
		// FOR ALL PRODUCT =================================================================================
		{
			"type": "all_tab",
			"name": "Content for all product",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Tab title",
					"default": "Tab title"
				},
				{
					"type": "page",
					"id": "page",
					"label": "Page",
					"info": "Select a page with content"
				}
			]
		},

		// REVIEWS =========================================================================================
		{
			"type": "reviews",
			"name": "Product reviews",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Tab title",
					"default": "Product reviews",
					"info": "You need to install the application and enable display in : Theme settings/Product/Product Reviews"
				}
			]
		},

		// FOR PRODUCT =====================================================================================
		{
			"type": "product_tab",
			"name": "Content for product",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Tab title",
					"default": "Tab title"
				},
				{
					"type": "product",
					"id": "custom_product",
					"label": "Product",
					"info": "Content will only be shown on this product."
				},
				{
					"type": "page",
					"id": "page",
					"label": "Page",
					"info": "Select a page with content"
				}
			]
		},

		// FOR COLLECTIONS ====================================================================================
		{
			"type": "collection_tab",
			"name": "Content for collection",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Tab title",
					"default": "Tab title"
				},
				{
					"type": "collection",
					"id": "custom_collection",
					"label": "Collection",
					"info": "Content will only be shown on products from this collection."
				},
				{
					"type": "page",
					"id": "page",
					"label": "Page",
					"info": "Select a page with content."
				}
			]
		}
	]
}
{% endschema %}

<script>
	var producText = {
		available: {{ 'layout.product.available' | t | json }},
		unavailable: {{ 'layout.product.unavailable' | t | json }},
		items: {{ 'layout.product.items' | t | json }},
	};
	var productImage = '{{ product_image }}';
</script>

{% javascript %}
jQuery(document).ready(function($) {

	var sectionID = $('.section_product').attr('id').replace('shopify-section-', '');

	var productLoad = function() {

		if ( productImage && theme.productViewType == 'carousel' ){

			// PRODUCT IMAGES
			var primaryImg = $('#primary_img_' + sectionID);

			var galleryImages = $('#gallery_big-' + sectionID);
			var galleryImagesPrev = $('#prev_' + sectionID);
			var galleryImagesNext = $('#next_' + sectionID);

			var galleryThumbs = $('#gallery_thumbs-' + sectionID);

			var galleryThumbSlider = new Swiper(galleryThumbs, {
				slidesPerView: 5,
				breakpoints: {
					991: {
						slidesPerView: 4
					},
					768: {
						slidesPerView: 3
					}
				},
				spaceBetween: 10,
				touchRatio: 0.2,
				slideToClickedSlide: true,
			});

			var galleryImageSlider = new Swiper(galleryImages, {
				effect: 'fade',
				slideToClickedSlide: true,
				navigation: {
					nextEl: galleryImagesNext,
					prevEl: galleryImagesPrev
				},
				thumbs: {
					swiper: galleryThumbSlider
				}
			});

		};


		// PRODUCT OPTIONS
		var productSelect = 'product_select_' + sectionID;

		var productArray = JSON.parse( $('#product_json_' + sectionID).html() );
		var variantWeights = JSON.parse( $('#variant_weights_' + sectionID).html() );

		var productWeight = $('#single_product__weight-' + sectionID);
		var productSKU = $('#single_product__sku-' + sectionID);
		var productBarcode = $('#single_product__barcode-' + sectionID);

		var productAvailability = $('#single_product__availability-' + sectionID);
		var productPrice = $('#single_product__price-' + sectionID);

		var productQuantity = $('#single_product__quantity-' + sectionID);
		var productAdd = $('#single_product__addtocart-' + sectionID);


		selectCallback = function(variant, selector) {
			if ( variant && variant.available ) {

				// VARIANT WEIGHT
				if ( variant.requires_shipping == true ) {

					for ( var i in variantWeights ) {
						var i = parseInt(i);

						if ( i == variant.id ) {
							productWeight.html( variantWeights[i] );
						};
					};
				}
				else {
					productWeight.html( '—' );
				};


				// VARIANT SKU
				if ( variant.sku && variant.sku.length ) {
					productSKU.html( variant.sku );
				}
				else {
					productSKU.html( '—' );
				};


				// VARIANT BARCODE
				if ( variant.barcode != null ) {
					productBarcode.html( variant.barcode );
				}
				else {
					productBarcode.html( '—' );
				};


				// VARIANT AVAILABILITY
				if ( variant.inventory_management != null ) {

					if ( ( variant.inventory_quantity == 0 ) && ( variant.inventory_policy == 'continue' ) ) {
						productAvailability.removeClass('notify_danger').addClass('notify_success').html( producText.available );
					}
					else {
						productAvailability.removeClass('notify_danger').addClass('notify_success').html( variant.inventory_quantity + ' ' + producText.items );
					};

				}
				else {
					productAvailability.removeClass('notify_danger').addClass('notify_success').html( producText.available );
				};

				// VARIANT PRICE
				if ( variant.price < variant.compare_at_price ) {
					productPrice.html( '<span class="money money_main">' + Shopify.formatMoney(variant.price, theme.moneyFormat) + '</span>' + '<span class="money money_sale">' + Shopify.formatMoney(variant.compare_at_price, theme.moneyFormat) + '</span><span class="money_sale_percent">– ' + parseInt( 100 - ( variant.price*100 )/variant.compare_at_price ) + '%</span>');
				}
				else {
					productPrice.html( '<span class="money">' + Shopify.formatMoney(variant.price, theme.moneyFormat) + '</span>' );
				};


				// VARIANT QUANTITY
				productQuantity.removeAttr('disabled', 'disabled');


				// VARIANT ADD TO CART BUTTON
				productAdd.removeAttr('disabled', 'disabled');


				if ( productImage && theme.productViewType == 'carousel' ) {

					// SWITCH VARIANT IMAGE (CAROUSEL VIEW)
					var newImage = variant.featured_image;
					var element = primaryImg[0];

					Shopify.Image.switchImage(newImage, element, function(newImageSizedSrc, newImage, element) {
						galleryImageSlider.slides.each(function(i) {
							var thumb = $(this).find('img').attr('src').replace('_crop_top', '').replace('_crop_center', '').replace('_crop_bottom', '').replace(/\?v=.*/ , '');
							var newImg = newImageSizedSrc.replace(/\?v=.*/ , '');

							if ( thumb == newImg ) {
								galleryImageSlider.slideTo(i);
							};
						});
					});
				};
				
				// SWITCH VARIANT IMAGE (STICKY VIEW)
				if ( productImage && theme.productViewType == 'sticky' && $(window).width() > 991 && variant.featured_image.src ){
					var imageOll = $('.product__img_wrap img');
			
					for (var i = 0; i < imageOll.length; i++) {
						var imgSrc = $(imageOll[i]).attr('src').replace('_150x225_crop_top', '').replace('_580x870_crop_top.progressive', '');

						if ( variant.featured_image.src.indexOf(imgSrc) >= 0 ){
							var offsetImg = $(imageOll[i]).offset().top - $('#page_header').outerHeight();
							
							$('body,html').animate({scrollTop: offsetImg - 50}, 500);
							$(window).trigger('scroll');
						};
					}
				};

				// HIDE NOTIFY BUTTON
				$('#notify_trigger_button').removeClass('visible');
				$('.product_notify .notify_form').hide(300);

			}
			else {
				// VARIANT AVAILABILITY
				productAvailability.removeClass('notify_success').addClass('notify_danger').html( producText.unavailable );


				// VARIANT QUANTITY
				productQuantity.attr('disabled', 'disabled');


				// VARIANT ADD TO CART BUTTON
				productAdd.attr('disabled', 'disabled');

				// SHOW NOTIFY BUTTON
				$('#notify_trigger_button').addClass('visible');
			};


			// SWITCH CURRENCY
			if ( typeof theme.shopCurrency != 'undefined' ) {
				var newCurrency = Currency.cookie.read();
				var moneySelector = productPrice.find('span.money');
				Currency.convertAll( theme.shopCurrency, newCurrency, moneySelector, 'money_format' );

			};

			renderColorOptions(productArray.options);
			renderSizeOptions(productArray.options);
			
		};

		new Shopify.OptionSelectors( productSelect, {
			product: productArray,
			onVariantSelected: selectCallback,
			enableHistoryState: true 
		});

	};


	// LOADING PRODUCTS
	productLoadTrigger = true;

	$(document).on('shopify:section:load', '#shopify-section-' + sectionID, function() {
		productLoad();
		productLoadTrigger = false;
	});

	if ( productLoadTrigger = true ) {
		productLoad();
	};
	


	$('#notify_trigger_button').on('click',function(){
		$('.product_notify .notify_form').toggle(600);
	});

	
	// RENDER COLOR OPTION
	var renderColorOptions = function(options){
		var colorOptionIndex = $('.color_product__options .color_toggle').data('option-index');
		var colorSelect = $('#shopify-section-' + sectionID + ' .single-option-selector').eq(colorOptionIndex);
		var selectId = '#' + colorSelect.attr('id');
		var container = $('#shopify-section-' + sectionID + ' .color_product__options .color_toggle');
		var content = '<label>' + options[colorOptionIndex] + ':</label>';

		$( selectId + ' option' ).each(function(){
			var value = $(this).val();
			colorSelect.parent('.selector-wrapper').addClass('hidden');
			if ( colorSelect.val() == value ) {
				return content = content + '<div class="color_item current" data-val="' + value + '" title="' + value + '"><span class="color_inner" style="background-color: ' + value + '"></span></div>';
			} else {
				return content = content + '<div class="color_item" data-val="' + value + '" title="' + value + '"><span class="color_inner" style="background-color: ' + value + '"></span></div>';
			};
		});

		container.html(content);

		$('.color_product__options .color_item').on('click', function(e){
			colorSelect.val( $(this).data('val') ).trigger('change');
		});
		
	};

	// RENDER SIZE OPTION
	var renderSizeOptions = function(options){
		var sizeOptionIndex = $('.size_product__options .size_toggle').data('option-index');
		var sizeSelect = $('#shopify-section-' + sectionID + ' .single-option-selector').eq(sizeOptionIndex);
		var selectId = '#' + sizeSelect.attr('id');
		var container = $('#shopify-section-' + sectionID + ' .size_product__options .size_toggle');
		var content = '<label>' + options[sizeOptionIndex] + ':</label>';

		$( selectId + ' option' ).each(function(){
			var value = $(this).val();
			sizeSelect.parent('.selector-wrapper').addClass('hidden');
			if ( sizeSelect.val() == value ) {
				return content = content + '<div class="size_item current" data-val="' + value + '"><span class="size_inner">' + value + '</span></div>';
			} else {
				return content = content + '<div class="size_item" data-val="' + value + '"><span class="size_inner">' + value + '</span></div>';
			};
		});

		container.html(content);

		$('.size_product__options .size_item').on('click', function(e){
			sizeSelect.val( $(this).data('val') ).trigger('change');
		});
		
	};


	// BIG CAROUSEL VIEW 

	if ( productImage && theme.productViewType == 'carousel_big' ){

			// PRODUCT IMAGES
			var primaryImg = $('#primary_img_' + sectionID);

			var galleryImages = $('#gallery_big-' + sectionID);

			var galleryThumbs = $('#gallery_thumbs-' + sectionID);

			var galleryImageSlider = new Swiper(galleryImages, {

				effect: 'slide',
				slidesPerView: 3,
				spaceBetween: 10,
				speed: 500,
				touchRatio: 0.2,
				slideToClickedSlide: true,
				breakpoints: {
					991: {
						slidesPerView: 2
					},
					767: {
						slidesPerView: 1
					}
				},
				navigation: {
					nextEl: '.swiper_btn__next',
					prevEl: '.swiper_btn__prev'
				},

			});

			$(window).on('load', function() {
				galleryImageSlider.onResize(); // updating swiper after loading
			});

		};




	// STICKY VIEW 
	if( theme.productViewType == 'sticky' && $(window).width() > 991 ){
		var target = $('.single_product__info');
		var mainUnit = target.parent();
		var sibling = target.siblings('.single_product__img');

		$(window).on('load scroll resize', function() {
			var scrolledValue = parseInt( $(window).scrollTop() );
			var offsetValue = parseInt( mainUnit.offset().top );
			var mainUnitEnd = mainUnit.height() + mainUnit.offset().top;

			if ( $(window).height() > offsetValue + target.height() ){
				var targetSmall = true;
			} else {
				var targetSmall = false;
			}

			if ( $(document.body).hasClass('rtl') ) { 
				var rightToLeft = true;   

			} else {
				var rightToLeft = false; 
			}
			
			if ( scrolledValue + $(window).height() > offsetValue + target.height()  && sibling.height() > target.height() ){  
				if ( rightToLeft ) { 
					if ( targetSmall ) {
						target.addClass('sticky').css({                 
							'top': mainUnit.offset().top + 'px',
							'left': ( $(window).width() - sibling.offset().left - sibling.outerWidth() ) + 'px'
						});
					} else {
						target.addClass('sticky').css({ 
							'top': 'auto !important',
							'bottom': '0px',
							'left':( $(window).width() - sibling.offset().left - sibling.outerWidth() ) + 'px'
						});
					}
				} else {
					if ( targetSmall ) {
						target.addClass('sticky').css({                 
							'top': mainUnit.offset().top + 'px',
							'left': ( sibling.offset().left + sibling.outerWidth() ) + 'px'
						});
					} else {
						target.addClass('sticky').css({ 
							'top': 'auto !important',
							'bottom': '0px',
							'left':( sibling.offset().left + sibling.outerWidth() ) + 'px'
						});
					}
				}

			} else {
				target.removeClass('sticky');
			}

			if( ( scrolledValue + $(window).height() ) > mainUnitEnd ){
				target.removeClass('sticky');
				target.css( {'top': 'auto'} );
				mainUnit.css( {'align-items': 'flex-end'} );
			} else {
				mainUnit.css( {'align-items': 'flex-start'} );
			};

		});
	}

	
	// RELATED PRODUCT CAROUSEL INIT
	if ( theme.productRelatedView ) {
		var productRelatedSlider = new Swiper( '#widget_related_slideshow', {  
			effect: 'slide',
			slidesPerView: 4,
			spaceBetween: 20,
			speed: 500,
			breakpoints: {
				992: {
					slidesPerView: 3
				},
				576: {
					slidesPerView: 2
				},
				480: {
					slidesPerView: 1
				} 
			},
			pagination: {
				el: '.widget_related_slideshow_pagination',
				type: 'bullets',
				clickable: true
			}
		}); 
	}

	
	// SHOW BIG IMAGE ON TILE VIEW TYPE
	if ( theme.productViewType == 'tile' ){
		$('.product__img_zoom').on('click', function(){
			if ( $(window).width() > 768 ){
				$.fancybox($(this).data('zoom_image'));
			}
		});
	}
	

});
{% endjavascript %}

