<div {% if section.settings.bg_image %}style="background: url({{ section.settings.bg_image | img_url: '2048x', crop: center }} );background-size: cover;"{% endif %} class="page_password_wrap"> 
	<div class="container">
		<div class="page_content">
			{% if section.settings.logo %}
				<a href="{{ shop.url }}" class="logo_block">
					<img src="{{ section.settings.logo | img_url: '260x90', crop:'center' }}" alt="{{ shop.name }}">
				</a>
			{% endif %}
			
			<div class="message_block">
				{% if section.settings.header %}
					<h2>{{ section.settings.header }}</h2>
				{% endif %}

				{% if section.settings.message %}
					<h4>{{ section.settings.message }}</h4>
				{% endif %}

				{% unless shop.password_message == blank %}
					{{ shop.password_message }}
				{% endunless %}
			</div>
		
			<div class="password_form">
				{% form 'storefront_password' %}

					{{ form.errors | default_errors }}

					<label for="password">{{ section.settings.password_label }}</label>
					<input type="password" name="password">
					<button class="btn" type="submit">{{ 'pages.password.enter' | t }}</button>

				{% endform %}
			</div>

			
			{% if section.settings.countdown_timer %}
				
				<div class="countdown_block">

					{% assign date_day = section.settings.timer_date_day %}
					{% assign date_month = section.settings.timer_date_month %}
					{% assign date_year = section.settings.timer_date_year %}

					{% capture timer_countdown %}
						<div id="timer_countdown">
							<input class="knob days" data-fgColor="{{ settings.links_color_hover }}" data-width="100" data-height="100" data-readOnly="true" data-min="0" data-max="365" data-displayPrevious=true data-thickness=".085" data-skin="tron" value="75">
							<input class="knob hour" data-fgColor="{{ settings.links_color_hover }}" data-width="100" data-height="100" data-readOnly="true" data-min="0" data-max="24" data-displayPrevious=true data-thickness=".085" data-skin="tron" value="75">
							<input class="knob minute" data-fgColor="{{ settings.links_color_hover }}" data-width="100" data-height="100" data-readOnly="true" data-min="0" data-max="60" data-displayPrevious=true data-thickness=".085" data-skin="tron" value="75">
							<input class="knob second" data-fgColor="{{ settings.links_color_hover }}" data-width="100" data-height="100" data-readOnly="true" data-min="0" data-max="60" data-displayPrevious=true data-thickness=".085" data-skin="tron" value="75">
						</div>
					{% endcapture %}

					<div id="timer_countdown_wrap" data-day="{{ date_day }}" data-month="{{ date_month }}" data-year="{{ date_year }}">
						<div class="timer_counter">
							{% case date_day %}
								{% when '30' %}
									{% case date_month %}
										{% when '02' %}
											<div class="promobanner_error">Incorrect date</div>
										{% else %}
											{{ timer_countdown }}
									{% endcase %}

								{% when '31' %}
									{% case date_month %}
										{% when '02', '04', '06', '09', '11' %}
											<div class="promobanner_error">Incorrect date</div>
										{% else %}
											{{ timer_countdown }}
									{% endcase %}
								{% else %}
									{{ timer_countdown }}
							{% endcase %}
						</div>
						
					</div>
				</div>
			{% endif %}

			{% if section.settings.newslatter_form %}
				<div class="newslatter_form">
					{% form 'customer' %}
						{{ form.errors | default_errors }}

						{% if form.posted_successfully? %}
							<p class="alert alert-success">{{ 'layout.footer.newsletter_success' | t }}</p>
						{% else %}
							<p>{{ 'layout.footer.newsletter_tagline' | t }}</p>
							<input type="hidden" name="contact[tags]" value="prospect, password page">
							<input type="email" name="contact[email]" id="email" placeholder="Your email">
							<button class="btn newsletter_btn" type="submit">{{ 'layout.footer.subscribe_button' | t }}</button>
						{% endif %}

					{% endform %}
				</div>	
			{% endif %}

			{% if section.settings.social_menu %}
				<div class="social_memu">
					<ul>
						{% if section.settings.social_fb.size > 0 %}
							<li><a href="{{ section.settings.social_fb }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						{% endif %}

						{% if section.settings.social_tw.size > 0 %}
							<li><a href="{{ section.settings.social_tw }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						{% endif %}

						{% if section.settings.social_inst.size > 0 %}
							<li><a href="{{ section.settings.social_inst }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						{% endif %}

						{% if section.settings.social_pin.size > 0 %}
							<li><a href="{{ section.settings.social_pin }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						{% endif %}

						{% if section.settings.social_gplus.size > 0 %}
							<li><a href="{{ section.settings.social_gplus }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						{% endif %}

						{% if section.settings.social_yt.size > 0 %}
							<li><a href="{{ section.settings.social_yt }}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						{% endif %}
					</ul>
				</div>
			{% endif %}

		</div>
	</div>
</div>


{% schema %}
{
	"name": "Password",
	"class": "section section_template section_template__password",
	"settings": [
		{
			"type": "header",
			"content": "Coming soon page"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo image",
			"info": "Logo size 260x90px"
		},
		{
			"type": "text",
			"id": "header",
			"label": "Page header",
			"default": "We are not ready yet"
		},
		{
			"type": "text",
			"id": "message",
			"label": "Text message",
			"default": "Our store will be available soon"
		},
		{
			"type": "image_picker",
			"id": "bg_image",
			"label": "Background image",
			"info": "For higher quality upload images wider than 2048 pixels"
		},
		{
			"type": "text",
			"id": "password_label",
			"label": "Password label",
			"default": "Enter store using password:"
		},
		{
			"type": "checkbox",
			"id": "newslatter_form",
			"label": "Show newslatter form"
		},
		{
			"type": "header",
			"content": "Countdown date"
		},
		{
			"type": "checkbox",
			"id": "countdown_timer",
			"label": "Show countdown timer"
		},
		{
			"type": "select",
			"id": "timer_date_day",
			"label": "Day",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "7",
					"label": "7"
				},
				{
					"value": "8",
					"label": "8"
				},
				{
					"value": "9",
					"label": "9"
				},
				{
					"value": "10",
					"label": "10"
				},
				{
					"value": "11",
					"label": "11"
				},
				{
					"value": "12",
					"label": "12"
				},
				{
					"value": "13",
					"label": "13"
				},
				{
					"value": "14",
					"label": "14"
				},
				{
					"value": "15",
					"label": "15"
				},
				{
					"value": "16",
					"label": "16"
				},
				{
					"value": "17",
					"label": "17"
				},
				{
					"value": "18",
					"label": "18"
				},
				{
					"value": "19",
					"label": "19"
				},
				{
					"value": "20",
					"label": "20"
				},
				{
					"value": "21",
					"label": "21"
				},
				{
					"value": "22",
					"label": "22"
				},
				{
					"value": "23",
					"label": "23"
				},
				{
					"value": "24",
					"label": "24"
				},
				{
					"value": "25",
					"label": "25"
				},
				{
					"value": "26",
					"label": "26"
				},
				{
					"value": "27",
					"label": "27"
				},
				{
					"value": "28",
					"label": "28"
				},
				{
					"value": "29",
					"label": "29"
				},
				{
					"value": "30",
					"label": "30"
				},
				{
					"value": "31",
					"label": "31"
				}
			]
		},
		{
			"type": "select",
			"id": "timer_date_month",
			"label": "Month",
			"options": [
				{
					"value": "01",
					"label": "January"
				},
				{
					"value": "02",
					"label": "February"
				},
				{
					"value": "03",
					"label": "March"
				},
				{
					"value": "04",
					"label": "April"
				},
				{
					"value": "05",
					"label": "May"
				},
				{
					"value": "06",
					"label": "June"
				},
				{
					"value": "07",
					"label": "July"
				},
				{
					"value": "08",
					"label": "August"
				},
				{
					"value": "09",
					"label": "September"
				},
				{
					"value": "10",
					"label": "October"
				},
				{
					"value": "11",
					"label": "November"
				},
				{
					"value": "12",
					"label": "December"
				}
			]
		},
		{
			"type": "select",
			"id": "timer_date_year",
			"label": "Year",
			"options": [
			  	{
					"value": "2017",
					"label": "2017"
			  	},
			  	{
					"value": "2018",
					"label": "2018"
			  	},
			  	{
					"value": "2019",
					"label": "2019"
			  	},
			  	{
					"value": "2020",
					"label": "2020"
			  	},
			  	{
					"value": "2021",
					"label": "2021"
			  	},
			  	{
					"value": "2022",
					"label": "2022"
			  	},
			  	{
					"value": "2023",
					"label": "2023"
			  	},
			  	{
					"value": "2024",
					"label": "2024"
			  	},
			  	{
					"value": "2025",
					"label": "2025"
			  	}
			]
		},
		{
			"type": "header",
			"content": "Social links"
		},
		{
			"type": "checkbox",
			"id": "social_menu",
			"label": "Show social menu"
		},
		{
			"type": "text",
			"id": "social_fb",
			"label": "Facebook"
		},
		{
			"type": "text",
			"id": "social_tw",
			"label": "Twitter"
		},
		{
			"type": "text",
			"id": "social_inst",
			"label": "Instagram"
		},
		{
			"type": "text",
			"id": "social_pin",
			"label": "Pinterest"
		},
		{
			"type": "text",
			"id": "social_gplus",
			"label": "Google+"
		},
		{
			"type": "text",
			"id": "social_yt",
			"label": "Youtube"
		}
	]	
}
{% endschema %}

<script>
	var passwordText = {
		daysTr:    {{ 'pages.password.days' | t | json }},
		hoursTr:   {{ 'pages.password.hours' | t | json }},
		minutesTr: {{ 'pages.password.minutes' | t | json }},
		secondsTr: {{ 'pages.password.seconds' | t | json }}
	};
</script>


{% javascript %}
	// jQuery Circular CountDown - https://github.com/nikhiln/Circular-Countdown
		!function(e){e.fn.ccountdown=function(a,t,n,r,d){var o,g=this,i=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"),c=(new Date,function(){var c=new Date,u=c.getYear();1e3>u&&(u+=1900);var h=c.getMonth(),l=c.getDate(),f=c.getHours(),s=c.getMinutes(),_=c.getSeconds();_="0"+_,_=_.substr(_.length-2);var v=i[h]+" "+l+", "+u+" "+f+":"+s+":"+_,M=i[t-1]+" "+n+", "+a+" "+r;_dd=Date.parse(M)-Date.parse(v),_dday=Math.floor(_dd/864e5*1),_dhour=Math.floor(_dd%864e5/36e5*1),_dmin=Math.floor(_dd%864e5%36e5/6e4*1),_dsec=Math.floor(_dd%5184e6%36e5%6e4/1e3*1);var y=e(g),w=y.find(".second"),D=y.find(".minute"),p=y.find(".hour"),m=y.find(".days");w.val(_dsec).trigger("change"),D.val(_dmin).trigger("change"),p.val(_dhour).trigger("change"),m.val(_dday).trigger("change"),0==_dd&&(window.clearInterval(o),"function"==typeof d&&d.call(this))});c(),o=setInterval(c,1e3)}}(jQuery);

	// jQuery Knob - https://github.com/aterrien/jQuery-Knob
		!function(t){"object"==typeof exports?module.exports=t(require("jquery")):"function"==typeof define&&define.amd?define(["jquery"],t):t(jQuery)}(function(t){"use strict";var i={},s=Math.max,h=Math.min;i.c={},i.c.d=t(document),i.c.t=function(t){return t.originalEvent.touches.length-1},i.o=function(){var s=this;this.o=null,this.$=null,this.i=null,this.g=null,this.v=null,this.cv=null,this.x=0,this.y=0,this.w=0,this.h=0,this.$c=null,this.c=null,this.t=0,this.isInit=!1,this.fgColor=null,this.pColor=null,this.dH=null,this.cH=null,this.eH=null,this.rH=null,this.scale=1,this.relative=!1,this.relativeWidth=!1,this.relativeHeight=!1,this.$div=null,this.run=function(){var i=function(t,i){var h;for(h in i)s.o[h]=i[h];s._carve().init(),s._configure()._draw()};if(!this.$.data("kontroled")){if(this.$.data("kontroled",!0),this.extend(),this.o=t.extend({min:void 0!==this.$.data("min")?this.$.data("min"):0,max:void 0!==this.$.data("max")?this.$.data("max"):100,stopper:!0,readOnly:this.$.data("readonly")||"readonly"===this.$.attr("readonly"),cursor:this.$.data("cursor")===!0&&30||this.$.data("cursor")||0,thickness:this.$.data("thickness")&&Math.max(Math.min(this.$.data("thickness"),1),.01)||.35,lineCap:this.$.data("linecap")||"butt",width:this.$.data("width")||200,height:this.$.data("height")||200,displayInput:null==this.$.data("displayinput")||this.$.data("displayinput"),displayPrevious:this.$.data("displayprevious"),fgColor:this.$.data("fgcolor")||"#87CEEB",inputColor:this.$.data("inputcolor"),font:this.$.data("font")||"Arial",fontWeight:this.$.data("font-weight")||"bold",inline:!1,step:this.$.data("step")||1,rotation:this.$.data("rotation"),draw:null,change:null,cancel:null,release:null,format:function(t){return t},parse:function(t){return parseFloat(t)}},this.o),this.o.flip="anticlockwise"===this.o.rotation||"acw"===this.o.rotation,this.o.inputColor||(this.o.inputColor=this.o.fgColor),this.$.is("fieldset")?(this.v={},this.i=this.$.find("input"),this.i.each(function(i){var h=t(this);s.i[i]=h,s.v[i]=s.o.parse(h.val()),h.bind("change blur",function(){var t={};t[i]=h.val(),s.val(s._validate(t))})}),this.$.find("legend").remove()):(this.i=this.$,this.v=this.o.parse(this.$.val()),""===this.v&&(this.v=this.o.min),this.$.bind("change blur",function(){s.val(s._validate(s.o.parse(s.$.val())))})),!this.o.displayInput&&this.$.hide(),this.$c=t(document.createElement("canvas")).attr({width:this.o.width,height:this.o.height}),this.$div=t('<div style="'+(this.o.inline?"display:inline;":"")+"width:"+this.o.width+"px;height:"+this.o.height+'px;"></div>'),this.$.wrap(this.$div).before(this.$c),this.$div=this.$.parent(),"undefined"!=typeof G_vmlCanvasManager&&G_vmlCanvasManager.initElement(this.$c[0]),this.c=this.$c[0].getContext?this.$c[0].getContext("2d"):null,!this.c)throw{name:"CanvasNotSupportedException",message:"Canvas not supported. Please use excanvas on IE8.0.",toString:function(){return this.name+": "+this.message}};return this.scale=(window.devicePixelRatio||1)/(this.c.webkitBackingStorePixelRatio||this.c.mozBackingStorePixelRatio||this.c.msBackingStorePixelRatio||this.c.oBackingStorePixelRatio||this.c.backingStorePixelRatio||1),this.relativeWidth=this.o.width%1!==0&&this.o.width.indexOf("%"),this.relativeHeight=this.o.height%1!==0&&this.o.height.indexOf("%"),this.relative=this.relativeWidth||this.relativeHeight,this._carve(),this.v instanceof Object?(this.cv={},this.copy(this.v,this.cv)):this.cv=this.v,this.$.bind("configure",i).parent().bind("configure",i),this._listen()._configure()._xy().init(),this.isInit=!0,this.$.val(this.o.format(this.v)),this._draw(),this}},this._carve=function(){if(this.relative){var t=this.relativeWidth?this.$div.parent().width()*parseInt(this.o.width)/100:this.$div.parent().width(),i=this.relativeHeight?this.$div.parent().height()*parseInt(this.o.height)/100:this.$div.parent().height();this.w=this.h=Math.min(t,i)}else this.w=this.o.width,this.h=this.o.height;return this.$div.css({width:this.w+"px",height:this.h+"px"}),this.$c.attr({width:this.w,height:this.h}),1!==this.scale&&(this.$c[0].width=this.$c[0].width*this.scale,this.$c[0].height=this.$c[0].height*this.scale,this.$c.width(this.w),this.$c.height(this.h)),this},this._draw=function(){var t=!0;s.g=s.c,s.clear(),s.dH&&(t=s.dH()),t!==!1&&s.draw()},this._touch=function(t){var h=function(t){var i=s.xy2val(t.originalEvent.touches[s.t].pageX,t.originalEvent.touches[s.t].pageY);i!=s.cv&&(s.cH&&s.cH(i)===!1||(s.change(s._validate(i)),s._draw()))};return this.t=i.c.t(t),h(t),i.c.d.bind("touchmove.k",h).bind("touchend.k",function(){i.c.d.unbind("touchmove.k touchend.k"),s.val(s.cv)}),this},this._mouse=function(t){var h=function(t){var i=s.xy2val(t.pageX,t.pageY);i!=s.cv&&(s.cH&&s.cH(i)===!1||(s.change(s._validate(i)),s._draw()))};return h(t),i.c.d.bind("mousemove.k",h).bind("keyup.k",function(t){if(27===t.keyCode){if(i.c.d.unbind("mouseup.k mousemove.k keyup.k"),s.eH&&s.eH()===!1)return;s.cancel()}}).bind("mouseup.k",function(){i.c.d.unbind("mousemove.k mouseup.k keyup.k"),s.val(s.cv)}),this},this._xy=function(){var t=this.$c.offset();return this.x=t.left,this.y=t.top,this},this._listen=function(){return this.o.readOnly?this.$.attr("readonly","readonly"):(this.$c.bind("mousedown",function(t){t.preventDefault(),s._xy()._mouse(t)}).bind("touchstart",function(t){t.preventDefault(),s._xy()._touch(t)}),this.listen()),this.relative&&t(window).resize(function(){s._carve().init(),s._draw()}),this},this._configure=function(){return this.o.draw&&(this.dH=this.o.draw),this.o.change&&(this.cH=this.o.change),this.o.cancel&&(this.eH=this.o.cancel),this.o.release&&(this.rH=this.o.release),this.o.displayPrevious?(this.pColor=this.h2rgba(this.o.fgColor,"0.4"),this.fgColor=this.h2rgba(this.o.fgColor,"0.6")):this.fgColor=this.o.fgColor,this},this._clear=function(){this.$c[0].width=this.$c[0].width},this._validate=function(t){var i=~~((0>t?-.5:.5)+t/this.o.step)*this.o.step;return Math.round(100*i)/100},this.listen=function(){},this.extend=function(){},this.init=function(){},this.change=function(){},this.val=function(){},this.xy2val=function(){},this.draw=function(){},this.clear=function(){this._clear()},this.h2rgba=function(t,i){var s;return t=t.substring(1,7),s=[parseInt(t.substring(0,2),16),parseInt(t.substring(2,4),16),parseInt(t.substring(4,6),16)],"rgba("+s[0]+","+s[1]+","+s[2]+","+i+")"},this.copy=function(t,i){for(var s in t)i[s]=t[s]}},i.Dial=function(){i.o.call(this),this.startAngle=null,this.xy=null,this.radius=null,this.lineWidth=null,this.cursorExt=null,this.w2=null,this.PI2=2*Math.PI,this.extend=function(){this.o=t.extend({bgColor:this.$.data("bgcolor")||"#EEEEEE",angleOffset:this.$.data("angleoffset")||0,angleArc:this.$.data("anglearc")||360,inline:!0},this.o)},this.val=function(t,i){return null==t?this.v:(t=this.o.parse(t),void(i!==!1&&t!=this.v&&this.rH&&this.rH(t)===!1||(this.cv=this.o.stopper?s(h(t,this.o.max),this.o.min):t,this.v=this.cv,this.$.val(this.o.format(this.v)),this._draw())))},this.xy2val=function(t,i){var e,n;return e=Math.atan2(t-(this.x+this.w2),-(i-this.y-this.w2))-this.angleOffset,this.o.flip&&(e=this.angleArc-e-this.PI2),this.angleArc!=this.PI2&&0>e&&e>-.5?e=0:0>e&&(e+=this.PI2),n=e*(this.o.max-this.o.min)/this.angleArc+this.o.min,this.o.stopper&&(n=s(h(n,this.o.max),this.o.min)),n},this.listen=function(){var i,e,n,a,o=this,r=function(t){t.preventDefault();var n=t.originalEvent,a=n.detail||n.wheelDeltaX,r=n.detail||n.wheelDeltaY,l=o._validate(o.o.parse(o.$.val()))+(a>0||r>0?o.o.step:0>a||0>r?-o.o.step:0);l=s(h(l,o.o.max),o.o.min),o.val(l,!1),o.rH&&(clearTimeout(i),i=setTimeout(function(){o.rH(l),i=null},100),e||(e=setTimeout(function(){i&&o.rH(l),e=null},200)))},l=1,c={37:-o.o.step,38:o.o.step,39:o.o.step,40:-o.o.step};this.$.bind("keydown",function(i){var e=i.keyCode;if(e>=96&&105>=e&&(e=i.keyCode=e-48),n=parseInt(String.fromCharCode(e)),isNaN(n)&&(13!==e&&8!==e&&9!==e&&189!==e&&(190!==e||o.$.val().match(/\./))&&i.preventDefault(),t.inArray(e,[37,38,39,40])>-1)){i.preventDefault();var r=o.o.parse(o.$.val())+c[e]*l;o.o.stopper&&(r=s(h(r,o.o.max),o.o.min)),o.change(o._validate(r)),o._draw(),a=window.setTimeout(function(){l*=2},30)}}).bind("keyup",function(){isNaN(n)?a&&(window.clearTimeout(a),a=null,l=1,o.val(o.$.val())):o.$.val()>o.o.max&&o.$.val(o.o.max)||o.$.val()<o.o.min&&o.$.val(o.o.min)}),this.$c.bind("mousewheel DOMMouseScroll",r),this.$.bind("mousewheel DOMMouseScroll",r)},this.init=function(){(this.v<this.o.min||this.v>this.o.max)&&(this.v=this.o.min),this.$.val(this.v),this.w2=this.w/2,this.cursorExt=this.o.cursor/100,this.xy=this.w2*this.scale,this.lineWidth=this.xy*this.o.thickness,this.lineCap=this.o.lineCap,this.radius=this.xy-this.lineWidth/2,this.o.angleOffset&&(this.o.angleOffset=isNaN(this.o.angleOffset)?0:this.o.angleOffset),this.o.angleArc&&(this.o.angleArc=isNaN(this.o.angleArc)?this.PI2:this.o.angleArc),this.angleOffset=this.o.angleOffset*Math.PI/180,this.angleArc=this.o.angleArc*Math.PI/180,this.startAngle=1.5*Math.PI+this.angleOffset,this.endAngle=1.5*Math.PI+this.angleOffset+this.angleArc;var t=s(String(Math.abs(this.o.max)).length,String(Math.abs(this.o.min)).length,2)+2;this.o.displayInput&&this.i.css({width:(this.w/2+4>>0)+"px",height:(this.w/3>>0)+"px",position:"absolute","vertical-align":"middle","margin-top":(this.w/3>>0)+"px","margin-left":"-"+(3*this.w/4+2>>0)+"px",border:0,background:"none",font:this.o.fontWeight+" "+(this.w/t>>0)+"px "+this.o.font,"text-align":"center",color:this.o.inputColor||this.o.fgColor,padding:"0px","-webkit-appearance":"none"})||this.i.css({width:"0px",visibility:"hidden"})},this.change=function(t){this.cv=t,this.$.val(this.o.format(t))},this.angle=function(t){return(t-this.o.min)*this.angleArc/(this.o.max-this.o.min)},this.arc=function(t){var i,s;return t=this.angle(t),this.o.flip?(i=this.endAngle+1e-5,s=i-t-1e-5):(i=this.startAngle-1e-5,s=i+t+1e-5),this.o.cursor&&(i=s-this.cursorExt)&&(s+=this.cursorExt),{s:i,e:s,d:this.o.flip&&!this.o.cursor}},this.draw=function(){var t,i=this.g,s=this.arc(this.cv),h=1;i.lineWidth=this.lineWidth,i.lineCap=this.lineCap,"none"!==this.o.bgColor&&(i.beginPath(),i.strokeStyle=this.o.bgColor,i.arc(this.xy,this.xy,this.radius,this.endAngle-1e-5,this.startAngle+1e-5,!0),i.stroke()),this.o.displayPrevious&&(t=this.arc(this.v),i.beginPath(),i.strokeStyle=this.pColor,i.arc(this.xy,this.xy,this.radius,t.s,t.e,t.d),i.stroke(),h=this.cv==this.v),i.beginPath(),i.strokeStyle=h?this.o.fgColor:this.fgColor,i.arc(this.xy,this.xy,this.radius,s.s,s.e,s.d),i.stroke()},this.cancel=function(){this.val(this.v)}},t.fn.dial=t.fn.knob=function(s){return this.each(function(){var h=new i.Dial;h.o=s,h.$=t(this),h.run()}).parent()}});


	// COUNTER INIT
		$(function(){$(".knob").knob({draw:function(){if("tron"==this.$.data("skin")){var t,i=this.angle(this.cv),s=this.startAngle,h=this.startAngle,n=h+i,o=!0;return this.g.lineWidth=this.lineWidth,this.o.cursor&&(h=n-.3)&&(n+=.3),this.o.displayPrevious&&(t=this.startAngle+this.angle(this.value),this.o.cursor&&(s=t+.3)&&(t-=.3),this.g.beginPath(),this.g.strokeStyle=this.previousColor,this.g.arc(this.xy,this.xy,this.radius-this.lineWidth,s,t,!1),this.g.stroke()),this.g.beginPath(),this.g.strokeStyle=o?this.o.fgColor:this.fgColor,this.g.arc(this.xy,this.xy,this.radius-this.lineWidth,h,n,!1),this.g.stroke(),this.g.lineWidth=2,this.g.beginPath(),this.g.strokeStyle=this.o.fgColor,this.g.arc(this.xy,this.xy,this.radius-this.lineWidth+1+2*this.lineWidth/3,0,2*Math.PI,!1),this.g.stroke(),!1}}});var t,i=0,s=0,h=0,n=$("div.idir"),o=$("div.ival"),e=function(){h++,n.show().html("+").fadeOut(),o.html(h)},r=function(){h--,n.show().html("-").fadeOut(),o.html(h)};$("input.infinite").knob({min:0,max:20,stopper:!1,change:function(){t>this.cv?i?(r(),i=0):(i=1,s=0):t<this.cv&&(s?(e(),s=0):(s=1,i=0)),t=this.cv}})});



	jQuery(document).ready(function($) {

		var date_year = $("#timer_countdown_wrap").data('year');
		var date_month = $("#timer_countdown_wrap").data('month');
		var date_day = $("#timer_countdown_wrap").data('day');

		$("#timer_countdown").ccountdown( date_year, date_month, date_day,'00:00');

		$('.knob.days').after("<span class='countdown_caption'>" + passwordText.daysTr + "</span>");
		$('.knob.hour').after("<span class='countdown_caption'>" + passwordText.hoursTr + "</span>");
		$('.knob.minute').after("<span class='countdown_caption'>" + passwordText.minutesTr + "</span>");
		$('.knob.second').after("<span class='countdown_caption'>" + passwordText.secondsTr + "</span>");
		
	});

{% endjavascript %}
